@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: auto;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: RGB(21, 21, 21);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: top 0.5s ease-in-out;
}

.logo {
  margin-left: 50px;
  width: 35%;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
}

.logo:hover {
  color: #f4bb03;
}

.logo span {
  color: rgb(96, 95, 92);
}

.logo span:hover {
  color: #f4bb03;
}

.navBar {
  width: 75%;
  visibility: visible;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 6);
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.menu li a:hover {
  color: #555;
}

#home {
  width: 100%;
  height: 100vh;
  background-color: RGB(21, 21, 21);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 100px;
}

.laptop__container {
  width: 50%;
  height: 100%;
  margin-right: 50px;
}

.laptop {
  width: 100%;
  height: 99%;
  padding-top: 10px;
  object-fit: contain;
}

.introduction__container {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap: 50px;
}

.introduction {
  color: #fff;
  margin-bottom: 15px;
  font-size: 30px;
}

.developer {
  color: #fff;
  font-size: 40px;
}

.introduction__text {
  width: 75%;
  color: #fff;
  font-size: 25px;
}

.introduction__footer {
  color: #f4bb03;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}

.introduction__footer:hover {
  color: rgb(238, 236, 96);
}

/* About Me */

#about {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doscapas {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__body {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about__aboutme {
  color: #fff;
  margin-bottom: 20px;
  font-size: 40px;
}

.about__hello span {
  color: #f4bb03;
}

.about__hello {
  color: #d4d4d4;
  font-size: 30px;
  width: 60%;
}

.about__text {
  width: 70%;
  color: #fff;
  font-size: 25px;
}

.about__text p {
  margin-bottom: 30px;
}

.about__img__container {
  width: 25%;
}

.emanuel {
  width: 100%;
}

/* Skills */

#skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-color: RGB(21, 21, 21);
}

.skills__title {
  margin-top: 20px;
  font-size: 40px;
  color: #fff;
  padding: 20px;
}

.skills__img__container {
  width: 90%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skills__img__container i {
  font-size: 150px;
  cursor: pointer;
}

.skills__img__container i:hover {
  transform: scale(1.5);
}

/* Projects */

#projects {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-color: #1e1e1e;
}

.projects__title {
  font-size: 40px;
  color: #fff;
  padding: 20px;
}

.projects__img__container {
  width: 90%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.imgbox__projects {
  width: 30%;
  height: 250px;
  background-color: #555;
  border-radius: 10px;
}

.marula {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  position: relative;
}

.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms;
  background: rgba(0, 0, 0, 0.5);
}

.imgbox__projects {
  position: relative;
}

.imgbox__projects:hover .desc {
  opacity: 1;
}

/* Contact */

#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-color: RGB(21, 21, 21);
}

.contact__title {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.contact__body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
  padding: 40px;
}

.contact__info {
  width: 40%;
}

.contact__info__title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 40px;
}

.contact__text {
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.contact__text span {
  color: #f4bb03;
}

.contact__img__container {
  width: 50%;
  height: 100%;
  display: flex;
}

.contact__img__container a img {
  cursor: pointer;
  width: 70%;
  margin-top: 20px;
  object-fit: contain;
}

.contact__img__container a img:hover {
  transform: scale(1.5);
}

/* form */

.contact__form {
  width: 70%;
  margin-left: 20px;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.contact__form form label {
  margin-top: 1rem;
  color: #fff;
  padding: 1px;
}

.contact__form form .input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact__form form .input-group__item {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.contact__form form input[type="text"],
.contact__form form input[type="email"],
.contact__form form textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: transparent;
  border: 1px solid rgba(184, 166, 166, 0.442);
  border-radius: 10px;
  width: 100%;
  color: #fff;
  resize: none;
}

.contact__form form input[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f4bb03;
  color: black;
  cursor: pointer;
  font-weight: 500;
}

.contact__form form input[type="submit"]:hover {
  background-color: rgb(192, 192, 12);
  font-weight: bold;
}

/* Footer */

.footer {
  color: #fff;
  display: flex;
}

.footer a {
  color: #fff;
}

.hidden {
  display: none;
}

i {
  font-size: 200px;
  color: #fff;
}

.show {
  opacity: 1;
}

.close {
  display: none;
}

.button-menu {
  display: none;
}

@media screen and (max-width: 850px) {
  .logo {
    width: 70%;
    margin-left: 10px;
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }

  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }

  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }

  .button-menu.close span:nth-child(3) {
    display: none;
  }

  .introduction__container {
    width: 72%;
  }
  .introduction {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .introduction__text {
    width: 100%;
    font-size: 18px;
  }

  .developer {
    font-size: 30px;
  }

  .navBar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
  }

  .navBar.show {
    opacity: 1;
    visibility: visible;
  }

  .menu {
    position: relative;
    top: 50;
    right: 00px;
    flex-direction: column;
  }

  .about__aboutme {
    font-size: 2em;
  }

  .about__hello {
    font-size: 1.5em;
  }

  .about__text p {
    font-size: 0.8em;
  }

  #contact {
    gap: 10px;
    padding: 20px;
  }

  .contact__body {
    width: 100%;
  }
  .contact__title {
    font-size: 2em;
  }
  .contact__info {
    width: 50%;
  }

  .contact__form {
    width: 80%;
  }

  .contact__text {
    font-size: 1.2em;
  }
  .contact__info__title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  #home {
    flex-direction: column;
    justify-content: start;
    padding-top: 150px;
  }
  .laptop__container {
    height: auto;
    margin: 0;
  }

  .laptop {
    height: auto;
    padding-top: 10%;
  }
  .introduction__container {
    width: 100%;
  }

  /* ------ */
  #about {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  .doscapas {
    flex-direction: column;
  }
  .about__body {
    width: 100%;
    align-items: center;
  }
  .about__header {
    width: 100%;
  }
  .about__body h3 {
    font-size: 30px;
    text-align: center;
  }
  .about__hello {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .about__text {
    width: 80%;
    text-align: center;
  }
  .about__text p {
    font-size: 18px;
    text-align: center;
  }

  .introduction__text {
    width: 100%;
  }

  .introduction__footer {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
  .about__img__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .emanuel {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  /* #skills  */

  .skills__title {
    margin: 0;
    font-size: 30px;
    text-align: center;
  }
  .skills__img__container {
    width: auto;
  }
  .skills__img__container i {
    font-size: 80px;
  }

  /* #Projects  */

  #projects {
    height: auto;
    padding: 5px;
  }

  .projects__title {
    font-size: 30px;
  }
  .projects__img__container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .imgbox__projects {
    width: 50%;
    margin: 0 auto;
    height: 150px;
    background-color: #555;
    border-radius: 10px;
  }

  /* Contacto*/

  #contact {
    height: auto;
    padding: 5px;
  }

  .contact__title {
    font-size: 30px;
    padding-top: 20px;
  }
  .contact__body {
    width: 100%;
    padding: 5px;
    flex-direction: column;
  }

  .contact__info {
    width: 60%;
  }
  .contact__info__title {
    font-size: 25px;
  }
  .contact__form {
    margin: 0;
    width: 100%;
  }

  .footer {
    text-align: center;
  }
  .footer a {
    color: #fff;
  }
}
